html {
	max-height: 100%;
}

body{
	background-color: #303133;
	margin-left: 0;
	height:100%;
	margin:0px;
}

p{
	color: white;
	font-family: comic sans ms;

}

.background {
	width: 20%;
	height: 42.5%;
}

.background1 {
	width: 20%;
	height: 42.5%;
}

#headerImg{
	margin-top: 5%;
	margin-left: 30%;
}

#InputBox{
	text-align: center;
}

input[type="text"] {
	position: relative;
	width: 25%;
	font-family: comic sans ms;
	font-size: 18px;
	box-shadow: none;
	border-radius: none;
}

input[type="submit"] {
	font-family: comic sans ms;
}

.headfooter{
	background-color: #181819;
	width:100%;
	margin:0px;
}

#firstDiv{
	height: 10%;
}

#secondDiv{
	height: 15%;
	position:fixed;
	bottom: 0px;
	display:block;
	padding-bottom: 0px;
	margin-bottom: 0;
}