html {
	max-height: 100%;
}

body {
	background-color: #303133;
	margin-left: 0;
	height:100%;
	margin:0px;
}

.main{
	height: 75%;
	background-image: url("/static/Background.png");
	background-size: 100% 100%;

}

p{
	color: black;
	font-family: comic sans ms;
	font: bold;


}

#background {
	width: 100%;
	height: 85%;
}

#headerImg{
	margin-top: 5%;
	margin-left: 30%;
}

#InputBox{
	background-color: rgba(0, 0, 0, 0.5);
	margin: 1em 25%;
	padding: 1em 1em 3em;
	text-align: center;
}

.ilabel {
	color: white;
}

input[type="text"] {
	position: relative;
	width: 67%;
	font-family: comic sans ms;
	font-size: 18px;
	box-shadow: none;
	border-radius: none;
}

input[type="submit"] {
	margin-top:0.5em;
	font-size: 125%;
	font-family: comic sans ms;
}

.headfooter{
	background-color: #181819;
	width:100%;
	margin:0px;
}

#firstDiv{
	height: 10%;
}

#secondDiv{
	height: 15%;

}
