<!DOCTYPE> <html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="static/styles1.css">
		</head>

		<body>

			<div class = "headfooter" id = "firstDiv">
			</div>
			<div class="main">
		
			<img src="static/title.png" id="headerImg">
			<br>
			<br>
			<br>
			
			<form id = "InputBox" action="/" method="get">

			<p class="result">{{ phrase }}</p>

			<input type="submit" value="I want moor!">
			</form>


			</div>
			
			<div class= "headfooter" id = "secondDiv">
			</div>
		</body>

	</html>