<!DOCTYPE> <html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="static/styles.css">
		</head>

		<body>
			<img src = "static/cactoise.png", class = "background">
			<img src = "static/Catsby.png", class = "background">
			<img src = "static/chimpion.png", class = "background">
			<img src = "static/hipsterpotamus.png", class = "background">
			<img src = "static/Instaham.png", class = "background">
			<img src = "static/octopuss.png", class = "background1">
			<img src = "static/puggle.png", class = "background1">
			<img src = "static/Pugtato.png", class = "background1">
			<img src = "static/Sofishticated.png", class = "background1">
			<img src = "static/Unicone.png", class = "background1">

			<div class = "headfooter" id = "firstDiv">
			</div>
			<img src="static/title.png" id="headerImg">

			
			<form id = "InputBox" action="/results" method="post">
			<br>
					<p> ALALALAL: </p>
					
					<input type="text">
					
					<p>ALALALAL: </p>
					<br>
					<input type="text" >
					<br>
					<br>
					<input type="submit" value="GO!">
			</form>
			<img src = "static/Catsby.jpg" id = "Catsby"> 
			
			<div class= "headfooter" id = "secondDiv">
			</div>
		</body>

	</html>