<!DOCTYPE> <html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="static/styles.css">
		</head>

		<body>
			<div class = "headfooter" id = "firstDiv">
			</div>
			<img src="static/title.png" id="headerImg">

			
			<form id = "InputBox" action="/results" method="post">
			<br>
					<p> ALALALAL: </p>
					
					<input type="text">
					
					<p>ALALALAL: </p>
					<br>
					<input type="text" >
					<br>
					<br>
					<input type="submit" value="GO!">
			</form>
			<img src = "static/Catsby.jpg" id = "Catsby"> 
			
			<div class= "headfooter" id = "secondDiv">
			</div>
		</body>

	</html>