<!DOCTYPE> <html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="static/styles1.css">
		</head>

		<body>

			<div class = "headfooter" id = "firstDiv">
			</div>
			<div class="main">
		
			<img src="static/title.png" id="headerImg">
			<br>
			<br>
			<br>
			
			<form id = "InputBox" action="/results" method="post">
			<br>
					<p class="ilabel">Enter a phrase: </p>
					
					<input type="text" name="phrase" value="I am not a robot">
					
					<p class="ilabel">Enter a word in that phrase: </p>
					<input type="text" name="word"  value="robot">
					<br>
					<br>
					<input type="submit" value="PUN ME!">
			</form>


			</div>
			
			<div class= "headfooter" id = "secondDiv">
			</div>
		</body>

	</html>
