<!DOCTYPE> <html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="static/styles1.css">
		</head>

		<body>

			<div class = "headfooter" id = "firstDiv">
			</div>

			<img src="static/title.png" id="headerImg">
			<br>
			<br>
			<br>

			
			<form id = "InputBox" action="/results" method="post">
			<br>
					<p>Enter a phrase: </p>
					
					<input type="text">
					
					<p>Enter a word: </p>
					<input type="text" >
					<br>
					<br>
					<input type="submit" value="PUN ME!">
			</form>
			
			<div class= "headfooter" id = "secondDiv">
			</div>
		</body>

	</html>